.header {
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.header_navi {
  float: right;
  color: gray;
}

.header_navi-list {
  display: flex;
  text-align: center;
}

.header_navi-item {
  padding: 0px 10px 0px 10px;
}

.firstview {
  position: relative;
}

.firstview_img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.firstview_title {
  position: absolute;
  top: 20%;
  left: 30%;
}

.firstview_title-text {
  font-size: 50px;
  font-family: 'Nothing You Could Do', cursive;
  color: deeppink;
}
.firstview_title-sub {
  font-size: 30px;
  color: deeppink;
  padding-top: 30px;
}
.firstview_title-sub2 {
  font-size: 20px;
  color: gray;
}
.growth {
  color: aquamarine;
}

h3 {
  font-family: 'Nothing You Could Do', cursive;
  color: magenta;
}
h4 {
  color: gray;
}

.news {
  margin: 10% 20% 0 30%; 
}

.news_title {
  font-size: 30px;
}

.news_content {
  padding: 1em 1em 1em 0;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  list-style: none;
}

.news_content-text {
  border-bottom: solid 1px gainsboro;
  padding: 10px;
}

.news_logo {
  border: solid 3px deeppink ;
  background-color: deeppink;
  color: white;
  border-radius: 100vh;
}

.about {
  position: relative;
  margin: 10% 0 0 0%;
  background-color: gainsboro;
  width: 100%;
  height: 400px;
}

.about_inner {
  font-size: 30px;
  text-align: center;
}

.about_content {
  display: flex;
  margin: auto;
}

.about_content-text {
  padding: 30px 50% 0 20%;
  color: gray;
  line-height: 20px;
}

.about_content-img {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 30%;
  margin: 30px 0 0 100px;
}

.service {
  margin: 10% 5% 0 10%;
}

.service_title {
  font-size: 30px;
}

.service_content {
  margin: 10px;
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 1fr 1fr ;
}

.service_content1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: deeppink;
  position: relative;
}
.service_img1 {
  width: 100%;
  height: 50%;
}
.text_title1 {
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.service_text1 {
  color: white;
  padding: 10px;
  line-height: 20px;
}

.service_content2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: palevioletred;
  position: relative;
}
.service_img2 {
  width: 50%;
  height: 100%;
}

.service_content3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: pink;
  position: relative;
}
.service_img3 {
  width: 50%;
  height: 100%;
}

.service_text-inner{
  position: absolute;
  top: 0;
  left: 50%;
}

.text_title2 {
  color: white;
  font-weight: bold;
  margin: 25px 0 10px 0;
}
.service_text2 {
  padding: 5px 0 0 0;
  color: white;
  font-size: small;
  line-height: 25px;
}

.blog {
  margin: 10% 0% 0 10%;
}
.blog_title {
  font-size: 30px;
}

.card {
  width: 500px;
  margin: 10px 20px 10px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  position: relative;
}

.card_flex {
  display: flex;
  width: 90%;
  justify-content: center;
}

.card_img  {
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
h5 {
  position: absolute;
  top: 0%;
  left: 0%;
  border-top-left-radius: 25%;
  color: white;
  background-color: #ff00a2;
  line-height: 30px;
  width: 70px;
  text-align: center;
}
.card_text {
  padding: 5px 15px 5px 15px;
  color: gray;
}
.card_tag {
  display: flex;
  color: gray;
  padding: 0 15px 3px 15px;
  justify-content: space-between;
}
.blog_button {
  width: 200px;
  padding: 10px 0;
  color: black;
  border-radius: 30px ;
  background: white;
  text-align: center;
  margin: 50px auto 0;
  display: block;
  border-color: deeppink;
  }

.company {
  margin: 10% 10% 10% 20%;
  
}
.company_title{
  font-size: 30px;
  padding: 0 0 20px 0;
}
table,th,td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
  color: rgb(81, 80, 80);
  margin-left: 10%;
}
th {
  padding: 10px 200px 10px 20px;
  background: rgb(224, 224, 224);
}
td {
  padding: 10px 300px 10px 20px;
}





.lastview {
  display: flex;
  position: relative;
}
.recruit {
  width: 50%;
}
.recruit_text {
  position: absolute;
  top: 50%;
  left: 20%;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.interview {
  width: 50%;
}
.interview_text {
  position: absolute;
  top: 50%;
  left: 70%;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.form {
  margin: 10% ;
}
.form_content-text {
  color: gray;
  font-size: larger;
  text-align: center;
}
.form_button {
  width: 200px;
  padding: 10px 0;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff00a2, #810192);
  text-align: center;
  box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
  margin: 100px auto 0;
  display: block;
  border-style: none;
}
.form_button::before {
  content: '';
  /*何も入れない*/
  display: inline-block;
  /*忘れずに！*/
  width: 20px;
  /*画像の幅*/
  height: 20px;
  /*画像の高さ*/
  background-image: url(../img/mailicon.svg) ;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align:middle;
  padding-right: 20px;
}

.footer {
  padding: 10px;
  width: 100%;
  background: darkgray;
  color: gray;
  text-align: center;
}